<h1>Mixtapes</h1>

<ul>
<% @mixtapes.each do |mix| %>
	<%= link_to mix, @mixtape do |x| %>
	<li><%= mix.name %></li>
	<% end %>
<% end %> 
</ul>
 <% if user_signed_in? %>
<%= link_to "New", new_mixtape_path %>
<% end %>