<h1>{{name}}</h1>
<img src="{{logo}}" height="200">
<p>{{description}}</p>

<button class="btn">Toggle Favorite</button>
	

{{#if favorite}}
	<div class="fullheart"></div>
{{else}}
	<div class="heart"></div>
{{/if}}