<h1>{{name}}</h1>
<img src="{{logo}}" width="400">
<p>{{description}}</p>

<button>Toggle Favorite</button>
	

{{#if favorite}}
	<div class="fullheart"></div>
{{else}}
	<div class="heart"></div>
	<strong>Your Favorite</strong>
	}
	
{{/if}}