<h1>Songs</h1>

<ul>
<% @songs.each do |song| %>
	<%= link_to song, @song do |x| %>
	<li><%= song.name %></li>
	<% end %>
<% end %> 
</ul>
<% if user_signed_in? && current_user.admin? %>
<%= link_to "New", new_song_path %>
<%= link_to "Home", root_path %>
<% end %>