<h1>Welcome to Tuna!!!</h1>

<img src="http://clipart.toonarific.com/data/media/148/Charlie_Tuna.gif">

<h2>Current Chart-toppas</h2>
<ul>
<% @mixtapes.each do |mixtape| %>
	<%= link_to mixtape, @mixtape do %>
	<li><%= mixtape.name %></li>
		<% end %>
	<% end %>
	</ul>